* {
    box-sizing: border-box;
}

/* the body style */
body {
    font-family: Verdana, sans-serif;
    padding: 0;
    margin: 0;
    background: #333;
    color: #f2f2f2;
    width: 100%;
}

/*nav style */
nav {
    position: sticky;
    top: 0;
    z-index: 999999;
}

nav ul {
    list-style-type: none;
    margin-top: -41px;
    margin-bottom: 20px;
    padding: 0;
    overflow: hidden;
    background: #333333;
}

nav li {
    float: left;
    width: 125px;
}

nav li a {
    display: block;
    text-decoration: none;
    padding: 14px 16px;
    text-align: center;
    color: #f2f2f2;
}

/* nav style when hover over it */
nav li:hover {
    background-color: red;
}

/* header styling */
header {
    width: 100%;
}

#bgcolor {
    background: #000000;
    height: 600px;
    width: 100%;
}

#bgcolor img {
    display: block;
    position: relative;
    top: 140px;
    width: 200px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
}

#bgcolor p {
    font-size: 20px;
    position: relative;
    top: 210px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

/*background color*/
main {
    background: #000000;
}

/*the banner style*/
main img {
    margin-top: 0;
    width: 100%;
    height: 600px;
    opacity: 0.3;
}

#maincontent {
    width: 75%;
    position: relative;
    top: -500px;
    margin: 0 auto;
    font-size: 20px;
    line-height: 40px;
}

#aboutHead {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

/*text style*/
#familyBusi {
    width: 100%;
    position: relative;
    height: 300px;
    top: -200px;
}

#centered {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 70%;
    height: 30%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

/*footer style*/
footer {
    margin-top: -200px;
    clear: both;
    color: #f2f2f2;
    font-size: 13px;
    background: #333;
    position: absolute;
    width: 100%;
}

#footcontent {
    margin-left: 18%;
}

#sentence {
    font-weight: bolder;
    font-size: 20px;
    margin-bottom: 10px;
    margin-top: 45px;
    margin-right: 60px;
}

footer hr {
    margin: 0;
}

.footHead {
    font-weight: bolder;
    font-size: 14px;
}

.footInfo {
    margin-bottom: 40px;
}

footer ul {
    float: left;
    list-style-type: none;
}

footer li {
    line-height: 30px;
}

footer p {
    clear: both;
    padding-bottom: 5px;
    text-align: center;
}

.footInfo li a {
    text-decoration: none;
    color: #f2f2f2;
}

.mail1 a, .mail2 a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

/*tablet view*/
@media screen and (max-width: 768px) {
    nav {
        position: relative;
        top: 40px;
    }

    nav li {
        float: none;
        width: 100%;
    }

    nav a {
        font-size: 130%;
    }

    #maincontent {
        width: 90%;
        top: -560px;
        font-size: 18px;
    }

    #familyBusi {
        width: 100%;
        position: relative;
        height: 300px;
        top: -250px;
    }

    footer {
        width: 100%;
    }

    footer ul {
        float: none;
    }

    #contacthead {
        width: 200px;
    }

    #footcontent {
        margin-left: 0;
    }

    #footsentence {
        margin-bottom: 40px;
    }

    .footInfo {
        float: left;
        width: 18%;
        margin-bottom: 30px;
        margin-left: 1%;
    }
}

/*mobile view*/
@media screen and (max-width: 480px) {
    main img {
        height: 400px;
    }

    #familyBusi {
        background: #000000;
    }

    #maincontent {
        width: 99%;
        top: -380px;
        font-size: 15px;
        line-height: 25px;
    }

    #familyBusi {
        width: 100%;
        position: relative;
        height: 300px;
        top: -200px;
    }

    footer ul {
        float: none;
        list-style-type: none;
    }

    #footcontent {
        margin-left: 5%;
    }

    #footsentence {
        margin-bottom: 40px;

    }

    .footInfo {

        float: none;
        width: 50%;
    }
}
