* {
    box-sizing: border-box;
}

/*body styling*/
body {
    font-family: Verdana, sans-serif;
    padding: 0;
    margin: 0;
    background: black;
    color: #f2f2f2;
}

/*navigation bar styling*/
nav {
    position: sticky;
    top: 0;
    z-index: 999999;
}

nav ul {
    list-style-type: none;
    margin-top: -41px;
    margin-bottom: 20px;
    padding: 0;
    overflow: hidden;
    background: #333333;
}

nav li {
    float: left;
    width: 125px;
}

nav li a {
    display: block;
    text-decoration: none;
    padding: 14px 16px;
    text-align: center;
    color: #f2f2f2;
}
/*nav when hover over it*/
nav li:hover {
    background-color: red;
}

/*header image styling*/
header img {
    margin-top: -11px;
    width: 100%;
    height: 450px;
}

h2 {
    margin-left: auto;
    margin-right: auto;
}

.title {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
}

#headercontent {
    text-align: center;
    margin-bottom: 200px;
}

main {
    padding-bottom: 100px;
    margin-top: 40px;
}

/*the images styling*/
section {
    float: left;
    width: 29%;
    height: auto;
    font-size: 15px;
    font-weight: normal;
    margin-bottom: 150px;
}

section img {
    display: block;
    width: 200px;
    height: 200px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 50px;
}

section p {
    text-align: center;
}

#firstsec {
    margin-left: 5%;
}

/*email and number styling*/
div.contactto {
    clear: both;
    text-align: center;
    width: 100%;
    margin-left: 7%;
}

.contactto div {
    float: left;
    border: 1px solid #f2f2f2;
    border-radius: 40px;
    width: 42%;
    max-width: 600px;
    min-width: 400px;
    position: relative;
    margin-right: 5%;
    margin-bottom: 100px;
}

.contactto a {
    display: block;
    font-size: 130%;
    text-decoration: none;
    color: #f2f2f2;
    padding: 30px 20px;
    border-radius: 40px;
    white-space: initial;
}

.contactto div:hover {
    background-color: #f2f2f2;
}

.contactto a:hover {
    color: #000000;
}

#visitus {
    clear: both;
    text-align: center;
}

/*live map styling*/
.mapouter {
    position: relative;
    text-align: right;
    height: 500px;
    width: 600px;

    margin: 0 auto;
    margin-top: 80px;
}

.gmap_canvas {
    overflow: hidden;
    background: none !important;
    height: 500px;
    width: 600px;
}
/*footer styling*/
footer {
    clear: both;
    color: #f2f2f2;
    font-size: 13px;
    background: #333;
    position: absolute;
    width: 100%;
}

#footcontent {
    margin-left: 18%;
}

#sentence {
    font-weight: bolder;
    font-size: 20px;
    margin-bottom: 10px;
    margin-top: 45px;
    margin-right: 60px;
}

footer hr {
    margin: 0;
}

.footHead {
    font-weight: bolder;
    font-size: 14px;
}

.footInfo {

    margin-bottom: 40px;
}

footer ul {
    float: left;
    list-style-type: none;
}

footer li {
    line-height: 30px;
}

footer p {
    clear: both;
    padding-bottom: 5px;
    text-align: center;
}

.footInfo li a {
    text-decoration: none;
    color: #f2f2f2;
}

.mail1 a, .mail2 a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

/*tablet view*/
@media screen and (max-width: 768px) {
    nav {
        position: relative;
        top: 0;
    }

    nav li {
        float: none;
        width: 100%;
    }

    nav a {
        font-size: 130%;
    }

    header img {
        height: 300px;
    }

    .title {
        margin-bottom: 5px;
    }

    #headercontent {
        text-align: center;
        padding: 10px;
        margin-bottom: 100px;
    }

    main {
        width: 100%;
    }

    section img {
        margin-left: auto;
        margin-right: auto;
    }

    #firstsec {
        margin-right: 20px;
    }

    .contactto div {
        max-width: 500px;
        min-width: 300px;

    }

    .contactto a {
        font-size: 100%;
        text-decoration: none;
        color: #f2f2f2;
        padding: 30px 20px;
        border-radius: 40px;
        white-space: initial;
    }

    footer {
        width: 100%;
    }

    footer ul {
        float: none;
    }

    #contacthead {
        width: 200px;
    }

    #footcontent {
        margin-left: 0;
    }

    #footsentence {
        margin-bottom: 40px;
    }


    .footInfo {
        float: left;
        width: 18%;
        margin-bottom: 30px;
        margin-left: 1%;
    }
}

/*mobile view*/
@media screen and (max-width: 480px) {
    header img {
        height: 200px;
    }

    section {
        float: none;
        width: 100%;
        margin-bottom: 45px;
    }

    section img {
        margin-left: auto;
        margin-right: auto;
    }

    #firstsec {
        margin-right: 20px;
    }

    div .links {
        width: 100%;
        margin-bottom: 10px;

    }

    .contactto div {
        margin: 0 auto;
        max-width: 400px;
        min-width: 300px;
        margin-bottom: 20px;
    }

    .contactto a {
        font-size: 100%;
        text-decoration: none;
        color: #f2f2f2;
        padding: 30px 20px;
        border-radius: 40px;
        white-space: initial;
    }

    #visitus h3 {
        margin-top: 300px;
    }

    .mapouter {
        position: relative;
        text-align: center;
        height: 300px;
        width: 400px;

        margin: 0 auto;
        margin-top: 80px;
    }

    .gmap_canvas {
        overflow: hidden;
        background: none !important;
        height: 300px;
        width: 400px;
    }

    footer ul {
        float: none;
        list-style-type: none;
    }

    #footcontent {
        margin-left: 5%;
    }

    #footsentence {
        margin-bottom: 40px;

    }

    .footInfo {
        float: none;
        width: 50%;
    }
}